@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,900;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f8f4;
}

* {
  box-sizing: border-box;
  color: #181818;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.section {
  width: 100%;
  padding: 80px;
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
}

.app-header {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  width: 25%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

nav li {
  position: relative;
}

nav li::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #181818;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

nav li:hover::before,
nav li:focus::before {
  transform: scaleX(1);
}

.logo {
  cursor: pointer;
  user-select: none;
}

.link {
  text-decoration: inherit;
}

.title-area h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 4rem;
}

.posts {
  background-color: #ffffff;
  max-width: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 2rem;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-container {
  padding-right: 2rem;
}

.post {
  padding: 2rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

P {
  margin-top: 0;
  color: rgba(24, 24, 24, 0.6);
  font-size: 1.2rem;
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.section-title {
  margin-bottom: 5rem;
}

.post-date {
  color: rgba(24, 24, 24, 0.6);
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  cursor: pointer;
  background-color: #f9f8f4;
  transition: box-shadow 0.3s;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid #181818;
}

.post-page .post {
  box-shadow: none;
}

.like:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.like .material-symbols-outlined {
  font-size: 2.4rem;
}

.post-page {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-page article {
  width: 80%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-page .post-meta {
  font-size: 1.4rem;
}

.delete-post-btn {
  font-size: 1.4rem;
  padding: 0.2rem 1.2rem;
}

.delete-post-btn:hover {
  background-color: red;
  color: white;
}

.add-new-post-area,
.edit-post-area,
.users,
.author-posts {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

form {
  width: 70%;
}

input,
textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

textarea {
  height: 30vh;
  resize: none;
}

select {
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.form-btn {
  width: 25%;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  margin-top: 2rem;
  color: #f9f8f4;
  background-color: #181818;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 5px 0;
}

.users ul {
  list-style: none;
}

.users,
.author-posts li {
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}

.users,
.author-posts li:hover {
  font-size: 1.1em;
}

/* h1{
  font-weight: 900;
  color: #043430;
  font-size: 2.5rem;
  text-align: center;
}




select{
  cursor: pointer;
}






article p{
  color: rgba(204, 204, 204, 1);
}

.add-new-post-area{
  background-color: white;
  padding: 20px;
  width: var(--body-width);
  border-radius: 10px;
  margin: 20px 0;
  color: #4c5d65;
  width: 100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.add-new-post-area h2{
  color: #043430;
}


.add-new-post-area form{
  width: 100%;
}

.add-new-post-area div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-new-post-area input, textarea, select{
  padding: 10px;
  border: none;
  color: #4c5d65;
  outline: none;
  resize: vertical;
  background-color: rgba(204, 204, 204, 0.5);
  letter-spacing: inherit;
}


textarea{
  min-height: 50px;
}

.add-new-post-area label{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}

.add-new-post-area button{
  background-color: #043430;
  color: white;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  transition: box-shadow 0.25s;
}

.add-new-post-area button:disabled{
  background-color: rgba(204, 204, 204, 0.5);
  color: #4c5d65;
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.add-new-post-area button:hover{
  box-shadow: 5px 5px rgba(9, 104, 75,0.5);
}

.post-meta{
  padding-top: 10px;
  border-top: #4c5d65 1px solid;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.author{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.author-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
  object-position: center;
  background-color: #f5f5f5;
}

.like{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  padding: 0 10px 5px 10px;
}

.like:hover{
  border-radius: 5px;
  background-color: #4c5d65;
}


.like .material-symbols-outlined{
  font-size: 1.4rem;
  margin-bottom: -6px;
}


.error{
  color: #f5f5f5;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
  background-color: red;
  padding: 5px 0;
}

.link{
  text-decoration: none;
  color: inherit;
}
 */
