@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Roboto&display=swap');

:root{
  --body-width: 40%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(204, 204, 204, 0.5);
  
}

.app{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  
}

.app-header{
  width: var(--body-width);
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 0;
  border-radius:  0 0 10px 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h1{
  font-weight: 900;
  color: #043430;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h2{
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

P{
  font-weight: 400;
}

section{
  width: var(--body-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

article{
  width: 100%;
  border-radius: 10px;
  background-color: #043430;
  color: white;
  margin: 15px 0;
  padding: 0 20px;
  min-height: 200px;
  box-shadow: 8px 8px rgba(9, 104, 75,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article p{
  color: rgba(204, 204, 204, 1);
}

.add-new-post-area{
  background-color: white;
  padding: 20px;
  width: var(--body-width);
  border-radius: 10px;
  margin: 20px 0;
  color: #4c5d65;
  width: 100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.add-new-post-area h2{
  color: #043430;
}


.add-new-post-area form{
  width: 100%;
}

.add-new-post-area div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-new-post-area input, textarea, select{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  color: #4c5d65;
  outline: none;
  resize: vertical;
  background-color: rgba(204, 204, 204, 0.5);
  letter-spacing: inherit;
}


textarea{
  min-height: 50px;
}

.add-new-post-area label{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.add-new-post-area button{
  background-color: #043430;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  transition: box-shadow 0.25s;
}

.add-new-post-area button:disabled{
  background-color: rgba(204, 204, 204, 0.5);
  color: #4c5d65;
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.add-new-post-area button:hover{
  box-shadow: 5px 5px rgba(9, 104, 75,0.5);
}

.post-meta{
  padding-top: 10px;
  border-top: #4c5d65 1px solid;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.author{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.author-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
  object-position: center;
  background-color: #f5f5f5;
}

.like{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  padding: 0 10px 5px 10px;
}

.like:hover{
  border-radius: 5px;
  background-color: #4c5d65;
}


.like .material-symbols-outlined{
  font-size: 1.4rem;
  margin-bottom: -6px;
}




@media (max-width: 900px){
  :root{
    --body-width: 60%;
  }
}

